<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{title}} - {{ section.road_name }} ({{ section.start_m }}m to {{ section.end_m }}m)<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
                                Select Section
                            </button></h1>

        </div>
        
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Latest SCRIM Reading                   
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="latest" style="height: 300px"><svg></svg></div>
                </div>

            </div>
                <!-- /.panel-body -->
        </div>
            
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Historic SCRIM Readings                    
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="historic" style="height: 300px"><svg></svg></div>
                </div>

            </div>
                <!-- /.panel-body -->
        </div>
            
    </div>
     <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Historic SCRIM Distribution                    
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="distribution" style="height: 300px"><svg></svg></div>
                </div>

            </div>
                <!-- /.panel-body -->
        </div>
            
    </div>           
    <!-- /.row --> 
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Section Selection</h4>
                </div>
                <div class="modal-body">
                  <form role="form" action="{{ url_for('scrim') }}" method="post">
                      <fieldset>
                        <div class="form-group">
                          <label class="col-xs-3 control-label">Road Selection</label>
                          <select name="road_id" class="form-control">
                            {% for road in roads %}
                                <option value="{{ road[0] }}" {% if road[1] == section.road_name %} selected {% endif %}>{{ road[1] }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="col-xs-3 control-label">Section Start(m)</label>
                          <input class="form-control" name="start_m" type="text" value="{{ section.start_m }}">
                        </div>
                        <div class="form-group">
                          <label class="col-xs-3 control-label">Section End(m)</label>
                          <input class="form-control" name="end_m" type="text" value="{{ section.end_m }}">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" name="btn" value="login">Process</button>                                
                      </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /#page-wrapper -->

{% endblock %}

{% block pagescript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.js" charset="utf-8"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.css" rel="stylesheet" type="text/css">
    <style>

</style>
    <script>
    var data = {{ data | safe }};
    var latest = {}
    var historic = {}

    $.each(data, function(index, value) {
        var chain = JSON.stringify(value[2])
        var year = JSON.stringify(value[0])
        var lane = value[3]
        var latest_reading = value[4]
        var lwp = value[5]
        var rwp = value[6]
        var seasonal = value[7] || 1
        var esc = value[8] || 1
        var il = value[1]
        
        // get latest values
        if(latest_reading=='L'){
          if(!(lane in latest))
            latest[lane] = {}
          if(!(chain in latest[lane]))
            latest[lane][chain] = {}
          latest[lane][chain].lwp = (lwp * esc * seasonal)
          latest[lane][chain].rwp = (rwp * esc * seasonal)
          latest[lane][chain].il = il
        }

        //get historic averages
        
        if(!(year in historic)) {
            historic[year] = {}
            historic[year].values=[]
        }
        
        if(!(chain in historic[year]))
            historic[year][chain] = {count: 0, sum: 0}

        historic[year][chain].count++
        historic[year][chain].count++        
        historic[year][chain].sum = historic[year][chain].sum + (lwp * esc * seasonal) + (rwp * esc * seasonal)
        historic[year].values.push(lwp * esc * seasonal)
        historic[year].values.push(rwp * esc * seasonal)
    });

    </script>
    <script>
    /*These lines are all chart setup.  Pick and choose which chart features you want to utilize. */
    nv.addGraph(function() {
      var latest_chart = nv.models.lineChart()
                    .margin({left: 100})  //Adjust chart margins to give the x-axis some breathing room.
                    .showLegend(true)       //Show the legend, allowing users to turn on/off line series.
                    .showYAxis(true)        //Show the y-axis
                    .showXAxis(true)        //Show the x-axis
                    .useInteractiveGuideline(true)
      ;

      latest_chart.xAxis     //Chart x-axis settings
          .axisLabel('Chainage (m)')
          .tickFormat(d3.format(',r'));

      latest_chart.yAxis     //Chart y-axis settings
          .axisLabel('SCRIM Value')
          .tickFormat(d3.format(',r'));

      /* Done setting the chart up? Time to render it!*/
      var chtData = []
      var series = {}
      for(var lane in latest) {
        series[lane + " LWP Coeff"] = {key: lane + ' LWP Coeff', values: [], disabled: true}
        series[lane + " RWP Coeff"] = {key: lane + ' RWP Coeff', values: [], disabled: true}
        series[lane + " RV"] = {key: lane + ' RV', values: []}
        series[lane + " IL"] = {key: lane + ' IL', values: [], disabled: true}
        for (chain in latest[lane]) {
          series[lane + " LWP Coeff"].values.push({'x': parseInt(chain), 'y': roundVal(latest[lane][chain].lwp)})
          series[lane + " RWP Coeff"].values.push({'x': parseInt(chain), 'y': roundVal(latest[lane][chain].rwp)})
          series[lane + " RV"].values.push({'x': parseInt(chain), 'y': roundVal((latest[lane][chain].lwp + latest[lane][chain].rwp) - latest[lane][chain].il)})
          series[lane + " IL"].values.push({'x': parseInt(chain), 'y': latest[lane][chain].il})           
        }
      } 
      for(serie in series)
        chtData.push(series[serie])

      console.log(chtData)
      var myData = chtData;   //You need data...

      d3.select('#latest svg')    //Select the <svg> element you want to render the chart in.   
          .datum(myData)         //Populate the <svg> element with chart data...
          .call(latest_chart);          //Finally, render the chart!

      //Update the chart when window resizes.
      nv.utils.windowResize(function() { latest_chart.update() });
      return latest_chart;
    });
    nv.addGraph(function() {
      var historic_chart = nv.models.lineChart()
                    .margin({left: 100})  //Adjust chart margins to give the x-axis some breathing room.
                    .useInteractiveGuideline(true) //how fast do you want the lines to transition?
                    .showLegend(true)       //Show the legend, allowing users to turn on/off line series.
                    .showYAxis(true)        //Show the y-axis
                    .showXAxis(true)        //Show the x-axis
      ;

      historic_chart.xAxis     //Chart x-axis settings
          .axisLabel('Chainage (m)')
          .tickFormat(d3.format(',r'));

      historic_chart.yAxis     //Chart y-axis settings
          .axisLabel('Average SCRIM Value')
          .tickFormat(d3.format(',r'));

      /* Done setting the chart up? Time to render it!*/
      var chtData = []

      for(var year in historic) {
        var key = year
        var values = []
        for(var chain in historic[year]) {
            if(historic[year][chain].count > 0)
                values.push({'x' : parseInt(chain), 'y': roundVal((historic[year][chain].sum / historic[year][chain].count))})
        }
        if(parseInt(year) > 2005)
            chtData.push({values: values, key: key})
      }

      var myData = chtData;   //You need data...
      d3.select('#historic svg')    //Select the <svg> element you want to render the chart in.   
          .datum(myData)         //Populate the <svg> element with chart data...
          .call(historic_chart);          //Finally, render the chart!

      //Update the chart when window resizes.
      nv.utils.windowResize(function() { historic_chart.update() });
      return historic_chart;
    });
nv.addGraph(function() {
      var chart = nv.models.boxPlotChart()
          .margin({bottom: 75})
          .x(function(d) { return d.label })
          .y(function(d) { return d.values.Q3 })
          .staggerLabels(true)
          .maxBoxWidth(75) // prevent boxes from being incredibly wide 
          ;

      chart.yAxis     //Chart y-axis settings
          .axisLabel('SCRIM Value')
          .tickFormat(d3.format(',r'));

      chart.xAxis     //Chart x-axis settings
          .axisLabel('Survey Year')
          .tickFormat(d3.format('r'));
      var chtData = []

      for(var year in historic) { 
        if(parseInt(year) > 2005){
            chtData.push(calculateValues(historic[year].values, year))
        }
      }

      d3.select('#distribution svg')
          .datum(chtData)
          .call(chart);
      nv.utils.windowResize(chart.update);
      return chart;
    });
    
function sortNumber(a, b) {
    return a - b;
}

// map the values onto a scale of fixed height
function mapValue(v, height) {
    return Math.round(height - (((v - min) / (max - min)) * height));
}

function calculateValues(data, label) {
    var lowerWhisker;
    var q1;
    var median;
    var q3;
    var upperWhisker;
    var mildOutliers;
    var extremeOutliers;
    var min;
    var max;
    data.sort(sortNumber);
    var n = data.length;
    // lower quartile
    var q1Pos = (n * 0.25);
    if (q1Pos % 1 != 0) {
        q1Pos = Math.floor(q1Pos);
        q1 = data[q1Pos];
    } else {
        q1Pos = Math.floor(q1Pos);
        q1 = (data[q1Pos] + data[q1Pos-1]) / 2;
    }
    // median
    var medianPos = (n * 0.5);
    if (medianPos % 1 != 0) {
        medianPos = Math.floor(medianPos);
        median = data[medianPos];
    } else {
        medianPos = Math.floor(medianPos);
        median = (data[medianPos] + data[medianPos-1]) / 2;
    }
    // upper quartile
    var q3Pos = (n * 0.75);
    if (q3Pos % 1 != 0) {
        q3Pos = Math.floor(q3Pos);
        q3 = data[q3Pos];
    } else {
        q3Pos = Math.floor(q3Pos);
        q3 = (data[q3Pos] + data[q3Pos-1]) / 2;
    }   
    min = data[0];
    max = data[n - 1];
    
    var iqr = q3 - q1;
    mildOutliers = new Array();
    extremeOutliers = new Array();
    lowerWhisker = min;
    upperWhisker = max;
    if (min < (q1 - 1.5 * iqr)) {
        for (var i = 0; i < q1Pos; i++) {
            // we have to detect outliers
            if (data[i] < (q1 - 3 * iqr)) {
                extremeOutliers.push(roundVal(data[i]));
            } else if (data[i] < (q1 - 1.5 * iqr)) {
                mildOutliers.push(data[i]);
            } else if (data[i] >= (q1 - 1.5 * iqr)) {
                lowerWhisker = data [i];
                break;
            }
        }
    }
    if (max > (q3 + (1.5 * iqr))) {
        for (i = q3Pos; i < data.length; i++) {
            // we have to detect outliers
            if (data[i] > (q3 + 3 * iqr)) {
                extremeOutliers.push(roundVal(data[i]));
            } else if (data[i] > (q3 + 1.5 * iqr)) {
                mildOutliers.push(data[i]);
            } else if (data[i] <= (q3 + 1.5 * iqr)) {
                upperWhisker = data[i];
            }
        }
    }
    return {
          label: label,
          values: { 
            Q1: roundVal(q1),
            Q2: roundVal(median),
            Q3: roundVal(q3),
            whisker_low: roundVal(lowerWhisker),
            whisker_high: roundVal(upperWhisker),
            outliers: extremeOutliers
          },
        }

}

function roundVal(val){
    var dec = 2;
    var result = Math.round(val*Math.pow(10,dec))/Math.pow(10,dec);
    return result;
}
    </script>

{% endblock %}